.DS_Store
bin/
obj/
*.exe
*.dll
*.pdb
/.vs
/Porygon/.vs/Porygon
/examples/ff5a.gba
/examples/NeoExChonk1.png
/examples/NeoExChonk2.png
/Porygon/Properties/launchSettings.json
/examples/PorygonTest.ips
/examples/peekDump.txt
/examples/Final_Fantasy_5_Advance (modified).gba
/Porygon.sln
